//fonts
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.woff") format("woff"),
    url("fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Baskerville";
  src: url("fonts/Baskerville/Baskerville-Regular.woff") format("woff"),
    url("fonts/Baskerville/Baskerville-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* values for the styles, weights and sizes are handled by tailwind */
:root {
  font-size: 16px;
}
body {
  font-family: theme("fontFamily.body");
  font-weight: 100;
  font-size: clamp(1rem, 1vw, theme("fontSize.25"));
}

h1,
.style-h1 {
  font-family: theme("fontFamily.title");
  font-weight: theme("fontWeight.normal");
}

h2,
.style-h2 {
  font-family: theme("fontFamily.title");
  font-weight: theme("fontWeight.normal");
}

h3,
.style-h3 {
  font-family: theme("fontFamily.title");
  font-weight: theme("fontWeight.normal");
  font-size: clamp(1rem, 2.5vw, theme("fontSize.60"));
}

h4,
.style-h4 {
  font-family: theme("fontFamily.title");
  font-weight: theme("fontWeight.normal");
}
